<div class="modal fade" id="{{ target }}" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{{ action }}" id="form_{{ name }}">
          {% csrf_token %}
          {% include "includes/render_form.html" with form=form %}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ cancel }}</button>
        <input class="btn btn-primary" name="{{ name }}" value="{{ accept }}" type="submit" form="form_{{ name }}"/>
      </div>
    </div>
  </div>
</div>