{% for field in form.visible_fields %}
  {% if field.field.widget.input_type == "checkbox" %}
    <div class="form-check form-switch ps-0">
      <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="{{ field.auto_id }}">{{ field.label }}</label>
      {{ field }}
    </div>
  {% else %}
    <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
    {{ field }}
  {% endif %}
{% endfor %}

{% for field in form.hidden_fields %}
   <div style="display:none;">{{ field }}</div>
{% endfor %}