<!-- Reference from: django/forms/widgets/text.html -->
<div>
    <input
        type="{{ widget.type }}"
        name="{{ widget.name }}"
        {% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}
        {% include "django/forms/widgets/attrs.html" %}

        {% if hint_callback %}
            hx-trigger="load, keyup changed delay:500ms"
            hx-get="{{ hint_callback }}"
            hx-target="#hint"
            hx-swap="innerHTML"
        {% endif %}
    >
    <span id="hint"></span>
</div>